h4 {
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.05em;
}

h5 {
    font-weight: 700;
    letter-spacing: 0.05em;
}

.date {
    font-style: italic;
}

.photo-grid-container {
    display: block;
    margin: 50px auto;
    column-count: 2;
    column-gap: 1.4em;
}

.photo-container {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.4em;
}

.photo-container img {
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* === PROJECT DESCRIPTION + SLIDES === */
.project-description-container {
    max-width: 75rem;
    width: 100%;
    padding: 4rem 2rem;
    margin: 0 auto;
  }

  .project-description-container .swiper-container .swiper-wrapper .swiper-slide .card-image {
    background: #ffffff;
    border: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
  }
  .project-description-container .swiper-container .swiper-wrapper .swiper-slide .card-image img {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .project-description-container .swiper-container .swiper-pagination-bullet {
    opacity: 0.8;
    background: #252a32;
  }
  .project-description-container .swiper-container .swiper-pagination-bullet-active {
    background: #ffffff;
  }
  .project-description-container .swiper-container .swiper-button-next,
  .project-description-container .swiper-container .swiper-button-prev {
    background-image: none;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0;
    margin-top: -1rem;
  }
  .project-description-container .swiper-container .swiper-button-next .arrow-icon,
  .project-description-container .swiper-container .swiper-button-prev .arrow-icon {
    font-size: 2rem;
    color: #ffffff;
  }
  

/* MODAL STUFF NOT USED
 / ==================== SERVICES ==================== /

.services__container {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .services__content {
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }
  
  .services__content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .services__icon {
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
  }
  
  .services__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
  }
  
  .services__button {
    cursor: pointer;
    font-size: var(--small-font-size);
  }
  
  .services__button:hover .button__icon {
    transform: translateX(0.25rem);
  }
  
  .services__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  
  .services__modal-content {
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
  }
  
  .services__modal-services {
    row-gap: 1rem;
  }
  
  .services__modal-service {
    display: flex;
  }
  
  .services__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
  }
  
  .services__modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
  }
  
  .services__modal-icon {
    color: var(--first-color);
    margin-right: var(--mb-0-25);
  }
  
  / ==== Active Modal ==== /
  .active-modal {
    opacity: 1;
    visibility: visible;
  }
  */

@media only screen and (min-width: 768px) {
    .section-description {
        margin: 50px 10% 0 10%;
    }
    .photo-grid-container {
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .section-description {
        margin: 50px auto 0 auto;
    }
    .photo-grid-container {
        column-count: 4;
    }
}