* {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  scroll-behavior: smooth;
}

h4 {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
}

h5 {
  font-weight: 700;
  letter-spacing: 0.05em;
}

.date {
  font-style: italic;
}

a, span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: #FFFFFF;
}

.header-logo {
  padding: 10px;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

.header-logo:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.footer-logo {
  font-size: 1.2em;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
}

.footer-logo:hover {
  text-decoration: underline;
  color: #FFFFFF;
}

.photo-grid-container {
    display: block;
    margin: 50px auto;
    column-count: 2;
    column-gap: 1.4em;
}

.photo-container {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.4em;
}

.photo-container img {
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* == VIdeo Container == */
.video-container {
  margin: 25px auto 0 auto;
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
  height: 0;
  width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/***** Top content *****/

.top-content { width: 100%; padding: 60px 0 120px 0; }
.top-content .carousel-control-prev { left: -80px; border-bottom: 0; }
.top-content .carousel-control-next { right: -80px; border-bottom: 0; }
.top-content .carousel-indicators { bottom: -40px; }




/* === PROJECT DESCRIPTION + SLIDES === */
.readme-title {
  
    color: #7eb77f;
}

.summary-description {
  margin: 20px auto 0 auto;
  text-align: center;
  max-width: 1000px;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.025em;
}


.readme-description {
  margin: 20px auto 0 auto;
  text-align: center;
  max-width: 1000px;
  font-size: 24px;
  line-height: 1.5em;
  letter-spacing: 0.025em;
}


.project-details-container {
    max-width: 75rem;
    width: 100%;
    padding: 4rem 2rem;
    margin: 0 auto;
  }

  .project-details-container .swiper-container .swiper-wrapper .swiper-slide .card-image {
    background: #ffffff;
    border: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
  }
  .project-details-container .swiper-container .swiper-wrapper .swiper-slide .card-image img {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .project-details-container .swiper-container .swiper-pagination-bullet {
    opacity: 0.8;
    background: #252a32;
  }
  .project-details-container .swiper-container .swiper-pagination-bullet-active {
    background: #ffffff;
  }
  .project-details-container .swiper-container .swiper-button-next,
  .project-details-container .swiper-container .swiper-button-prev {
    background-image: none;
    background-size: 0;
    background-repeat: no-repeat;
    background-position: 0;
    margin-top: -1rem;
  }
  .project-details-container .swiper-container .swiper-button-next .arrow-icon,
  .project-details-container .swiper-container .swiper-button-prev .arrow-icon {
    font-size: 2rem;
    color: #ffffff;
  }
  
/* == ZOOM-IN MODAL == */
#zoomin-Img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#zoomin-Img:hover {opacity: 0.7;}
/* The Modal (background) */
.zoomin-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #1F1F1F; /* Fallback color */
  background-color: #1F1F1F; /* Black w/ opacity */
}

/* Modal Content (image) */
.zoomin-modal-content {
  margin: auto;
  display: block;
  width: 75%;
  /*max-width: 75%;*/
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.zoomin-modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.out {
animation-name: zoom-out;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(1)}
  to {-webkit-transform:scale(2)}
}

@keyframes zoom {
  from {transform:scale(0.4)}
  to {transform:scale(1)}
}

@keyframes zoom-out {
  from {transform:scale(1)}
  to {transform:scale(0)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .zoomin-modal-content {
      width: 100%;
  }
}

/* MODAL STUFF NOT USED
 / ==================== SERVICES ==================== /

.services__container {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .services__content {
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }
  
  .services__content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .services__icon {
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
  }
  
  .services__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
  }
  
  .services__button {
    cursor: pointer;
    font-size: var(--small-font-size);
  }
  
  .services__button:hover .button__icon {
    transform: translateX(0.25rem);
  }
  
  .services__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  
  .services__modal-content {
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
  }
  
  .services__modal-services {
    row-gap: 1rem;
  }
  
  .services__modal-service {
    display: flex;
  }
  
  .services__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
  }
  
  .services__modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
  }
  
  .services__modal-icon {
    color: var(--first-color);
    margin-right: var(--mb-0-25);
  }
  
  / ==== Active Modal ==== /
  .active-modal {
    opacity: 1;
    visibility: visible;
  }
  */

@media only screen and (min-width: 768px) {
    .section-description {
        margin: 50px 10% 0 10%;
    }
    .photo-grid-container {
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .section-description {
        margin: 50px auto 0 auto;
    }
    .photo-grid-container {
        column-count: 4;
    }
}